<template name="ContactsList">
	<div id="contacts-list" class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="ui medium divided list">
				{{#each contacts}}
					<div class="pull-right">
						<a>EDIT</a>
					</div>
				  <div class="item">
				    <div class="content">
				      <div class="header">
				      	<a id="collapse-{{name}}" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				      		<span class="glyphicon glyphicon-collapse-down"></span> {{name}}
				      	</a>
			      	</div>
				      <div class="description">
				      	{{getTitle title}} | {{getEmail email}} | {{getPhone phone}}
				      </div>
				      <div class="collapse" id="collapseExample">
					      <div class="list">
					      	<div class="item">
					      		<div class="content">
					      			<div class="header">COMPANY/ORGANIZATION</div>
					      			<div class="description">{{organization}}</div>
					      		</div>
					      	</div>
					      </div>
					      <div class="list">
					      	<div class="item">
					      		<div class="content">
					      			<div class="header">ADDRESS</div>
					      			<div class="description">{{address}}</div>
					      		</div>
					      	</div>
					      </div>
					      <!-- <div class="list">
					      	<div class="item">
					      		<div class="content">
					      			<div class="header">CONTACT</div>
					      			<div class="description">{{email}}</div>
					      			<div class="description">{{phone}}</div>
					      		</div>
					      	</div>
					      </div> -->
					      <div class="list">
					      	<div class="item">
					      		<div class="content">
					      			<div class="header">NOTES</div>
					      			<div class="description">{{notes}}</div>
					      		</div>
					      	</div>
					      </div>
					      <div class="list">
					      	<div class="item">
					      		<div class="content">
					      			<div class="header">TAGS</div>
					      			<div class="description">
					      				{{#each getTags}}
					      					<span class="label label-primary">{{value}}</span>
					      				{{/each}}
					      			</div>
					      		</div>
					      	</div>
					      </div>
				      </div>
				    </div>
				  </div>
				{{/each}}
			</div>
		</div>
	</div>
</template>