// Import Vendors
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

// Components
@import "components/a_component.import.less";

// Globals
@import "typo.import.less";

// Sites
@import "sites/home.import.less";

h1, h2, h3, h4, h5, h6 {
	font-family: @font-family-headings;
}

.btn-add-interaction {
  .button-variant(#fff; @brand-primary; #000);
}

.btn-edit-interaction {
  .button-variant(#fff; @brand-secondary; #000);
}

.contacts-list {
	padding-top: 10px;
}

#add-btn {
	margin-top: 10px;
}

.bootstrap-tagsinput {
  width: 100% !important;
}

#add-interaction-btn {
  margin-top: 10px;
}

.contact-edit-btn {
	margin-top: 10px;
}

.btn-circle-add {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.last-contacted-info {
  margin-top: 5px;
}

.interaction-label {
  margin-right: 5px;
}

.interaction-label span {
  color: #fff;
}

#footer-heart {
  color: #DB1507;
}

.quoute-type1 {
  border-left: 5px solid #3B55D8;
}

.quoute-type2 {
  border-left: 5px solid #0EB1D1;
}

.quoute-type3 {
  border-left: 5px solid #3BD87D;
}

.quoute-type4 {
  border-left: 5px solid #DB1507;
}

.quoute-type5 {
  border-left: 5px solid #FFDA01;
}

.quoute-type6 {
  border-left: 5px solid #7B2D83;
}