// Import Vendors
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

// Components
@import "components/a_component.import.less";

// Globals
@import "typo.import.less";

// Sites
@import "sites/home.import.less";

h1, h2, h3, h4, h5, h6 {
	font-family: @font-family-headings;
  text-transform: uppercase;
}

.add-interaction-btn .glyphicon, .contact-edit-btn .glyphicon {
  padding-left: 5px;
  padding-right: 5px;
  top: 10px;
  font-size: 30px;
  color: @brand-secondary;
}

.add-interaction-btn .glyphicon:hover, .contact-edit-btn .glyphicon:hover {
  color: darken(@brand-secondary, 10%);
  cursor: pointer;
}

.btn-circle-add {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  color: #fff;
  background-color: @brand-success;
  border-color: @brand-success;
}

.btn-circle-add:hover, .btn-circle-add:focus {
  color: #fff;
  background-color: darken(@brand-success, 10%);
  border-color: darken(@brand-success, 10%);
}

.chart-legend ul {
  list-style-type: none;
}

.chart-legend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.contact-label {
  margin-top: 5px;
}

.contacts-list {
  padding-top: 10px;
}

.interaction-label span {
  color: #fff;
}

.last-contacted-info {
  margin-top: 5px;
}

.quoute-type1 {
  border-left: 5px solid #3B55D8;
}

.quoute-type2 {
  border-left: 5px solid #0EB1D1;
}

.quoute-type3 {
  border-left: 5px solid #3BD87D;
}

.quoute-type4 {
  border-left: 5px solid #DB1507;
}

.quoute-type5 {
  border-left: 5px solid #FFDA01;
}

.quoute-type6 {
  border-left: 5px solid #7B2D83;
}

.well-count {
  border-radius: 6px;
  border: none;
  color: #fff;
}

.well-total-stakeholders {
  background-color: #7B2D83;
}

.well-total-member-estimates {
  background-color: #3B55D8;
}

.well-total-interactions {
  background-color: #3BD87D;
}

.well-total-juicy-quotes {
  background-color: #0EB1D1;
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .count-wrapper {
    margin-top: 25px;
  }
  .well-text {
    font-size: 18px;
  }
}

@media (min-width: @screen-lg-min) {
  .count-wrapper {
    margin-top: 45px;
  }
  .well-text {
    font-size: 24px;
  }
}

#add-btn {
  margin-top: 10px;
}

#footer-heart {
  color: #DB1507;
}

#nav-item-wrapper {
  margin-top: 20px;
}