<template name="AddQuote">
	<div class="modal fade" id="add-quote-modal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">ADD JUICY QUOTE</h4>
	      </div>
	      <form class="add-quoute" data-parsley-validate>
		      <div class="modal-body">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="form-group">
									<label for="quote">QUOTE *</label>
									<textarea id="add-quote-field" class="form-control" name="quote" rows="5" required></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-6">
								<div class="form-group">
									<label for="author">AUTHOR</label>
									<input type="text" id="add-quote-author-field" class="form-control typeahead" name="author" autocomplete="off" spellcheck="off" data-source="authors" data-selected="selectedAuthor" />
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6">
								<div class="form-group">
									<label for="date">QUOTE DATE</label>
									<input type="date" id="add-quote-date-field" class="form-control" name="date" />
								</div>
							</div>
						</div>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
						<button type="submit" class="btn btn-primary">SUBMIT</button>
		      </div>
	      </form>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>