<template name="AddQuote">
	<h2>ADD JUICY QUOTE</h2>
	<form class="add-quoute" data-parsley-validate>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="form-group">
					<label for="quote">QUOTE *</label>
					<textarea id="add-quote-field" class="form-control" name="quote" rows="5"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="form-group">
					<label for="author">AUTHOR</label>
					<br />
					<input type="text" id="add-quote-author-field" class="form-control typeahead" name="author" autocomplete="off" spellcheck="off" data-source="authors" />
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="form-group">
					<label for="date">QUOTE DATE</label>
					<input type="date" id="add-quote-date-field" class="form-control" name="date" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<button type="submit" class="btn btn-primary">SUBMIT</button>
			</div>
		</div>
	</form>
</template>