<template name="ContactsList">
	<div id="contacts-list" class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="ui very relaxed divided list">
				{{#each contacts}}
					<div class="pull-right">
						<button type="button" id="add-interaction-btn" class="btn btn-default btn-xs" data-id="{{_id}}">ADD INTERACTION</button>
						<button type="button" id="{{_id}}" class="btn btn-default btn-xs contact-edit-btn" data-toggle="modal" data-target="#edit-contact-modal">EDIT INFO</button>
					</div>
				  <div class="item">
				    <div class="content">
				      <div class="header">
				      	<a data-toggle="collapse" href="{{getCollapseHref _id}}" aria-expanded="false" aria-controls="{{getCollapseId _id}}">
				      		<span class="glyphicon glyphicon-collapse-down"></span> {{getNameOrOrganization name organization}}
				      	</a>
			      	</div>
				      <div class="description">
				      	{{getTitle title}} | {{getEmail email}} | {{getPhone phone}}
				      	<div class="last-contacted-info">
		      				<a href="{{getLastContactedDateHref}}" class="label label-success interaction-label">
		      					<span>Last Contacted {{getLastContactedDate}}</span>
		      				</a>
	      				</div>
				      </div>
				      <div class="collapse" id="{{getCollapseId _id}}">
				      	<div class="row">
				      		<div class="col-sm-6 col-md-6 col-lg-6">
							      <div class="list">
							      	<div class="item">
							      		<div class="content">
							      			<div class="header">COMPANY/ORGANIZATION</div>
							      			<div class="description">{{organization}}</div>
							      		</div>
							      	</div>
							      </div>
				      		</div>
				      		<div class="col-sm-6 col-md-6 col-lg-6">
							      <div class="list">
							      	<div class="item">
							      		<div class="content">
							      			<div class="header">ADDRESS</div>
							      			<div class="description">{{address}}</div>
							      		</div>
							      	</div>
							      </div>
				      		</div>
				      	</div>
				      	<div class="row">
				      		<div class="col-sm-6 col-md-6 col-lg-6">
							      <div class="list">
							      	<div class="item">
							      		<div class="content">
							      			<div class="header">DETAILS OF REGULAR MEETINGS</div>
							      			<div class="description">{{regularMeetings}}</div>
							      		</div>
							      	</div>
							      </div>
				      		</div>
				      		<div class="col-sm-6 col-md-6 col-lg-6">
							      <div class="list">
							      	<div class="item">
							      		<div class="content">
							      			<div class="header">NOTABLE/ANNUAL EVENTS</div>
							      			<div class="description">{{notableAnnualEvents}}</div>
							      		</div>
							      	</div>
							      </div>
				      		</div>
				      	</div>
				      	<div class="row">
				      		<div class="col-sm-6 col-md-6 col-lg-6">
							      <div class="list">
							      	<div class="item">
							      		<div class="content">
							      			<div class="header">NOTES</div>
							      			<div class="description">{{notes}}</div>
							      		</div>
							      	</div>
							      </div>
				      		</div>
				      		<div class="col-sm-6 col-md-6 col-lg-6">
							      <div class="list">
							      	<div class="item">
							      		<div class="content">
							      			<div class="header">TAGS</div>
							      			<div class="description">
							      				{{#each getTags}}
							      					<span class="label label-primary">{{value}}</span>
							      				{{/each}}
							      			</div>
							      		</div>
							      	</div>
							      </div>
				      		</div>
				      	</div>
				      	<div class="row">
				      		<div class="col-sm-12 col-md-12 col-lg-12">
					      		<div class="list">
					      			<div class="item">
					      				<div class="content">
					      					<div class="header">INTERACTIONS</div>
					      					<div class="description">
								      			{{#each interactions}}
								      				<a href="{{getInteractionHref contactId interactionDate}}" class="label label-default interaction-label">
								      					<span>{{interactionDate}}</span>
								      				</a>
								      			{{/each}}
					      					</div>
					      				</div>
					      			</div>
					      		</div>
				      		</div>
				      	</div>
				      </div>
				    </div>
				  </div>
				{{/each}}
			</div>
		</div>
	</div>
</template>