<template name="EditContact">
	<div class="modal fade" id="edit-contact-modal" tabindex="-1" role="dialog" aria-labelledby="editContactModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	  	<form class="edit-contact" data-parsley-validate>
		    <div class="modal-content">
		      <div class="modal-header">
		        <a class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
	        	</a>
		        <h4 class="modal-title">EDIT CONTACT INFO</h4>
		      </div>
		      <div class="modal-body">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="alert alert-danger edit-invalid-contact-alert" role="alert">
									Must enter a <strong>NAME</strong> or <strong>COMPANY/ORGANIZATION</strong>
								</div>
							</div>
						</div>
			      {{#with editFormData}}
		      		<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<label for="name">NAME</label>
						  			<input type="text" id="edit-name-field" class="form-control" name="name" value="{{name}}" data-parsley-group="edit-block1" />
					  			</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="form-group">
										<label for="title">TITLE</label>
										<input type="text" id="edit-title-field" class="form-control" name="title" value="{{title}}"  />
									</div>
								</div>
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="form-group">
										<label for="organization">COMPANY/ORGANIZATION</label>
										<input type="text" id="edit-organization-field" class="form-control" name="organization" value="{{organization}}" data-parsley-group="edit-block1" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4 col-md-4 col-lg-4">
									<div class="form-group">
										<label for="title">PHONE</label>
										<input type="tel" id="edit-phone-field" class="form-control" name="phone" value="{{phone}}" data-parsley-pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" data-parsley-pattern-message="Must enter a valid phone number" />
									</div>
								</div>
								<div class="col-sm-2 col-md-2 col-lg-2">
									<div class="form-group">
										<label for="ext">PHONE EXT</label>
										<input type="text" id="edit-phone-ext-field" class="form-control" name="ext" value="{{phoneExt}}" />
									</div>
								</div>
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="form-group">
										<label for="cell">CELL PHONE</label>
										<input type="tel" id="edit-cell-field" class="form-control" name="cell" value="{{cell}}" data-parsley-pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" data-parsley-pattern-message="Must enter a valid phone number" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<label for="organization">EMAIL</label>
										<input type="email" id="edit-email-field" class="form-control" name="email" value="{{email}}" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<label for="address">ADDRESS</label>
										<input type="text" id="edit-address-field" class="form-control" name="address" value="{{address}}" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<label for="website">WEBSITE</label>
										<input type="text" id="edit-website-field" class="form-control" name="website" value="{{website}}" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<label for="tags">TAGS (GRANT-RELATED INTERESTS/TOPICS/CHALLENGES)</label>
										<input type="text" id="{{getTagsInputId}}" class="form-control" name="tags" value="{{tags}}" data-role="tagsinput" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="form-group">
									  <label for="regularMeetings">DETAILS OF REGULAR MEETINGS</label>
										<textarea id="edit-regular-meetings-field" class="form-control" name="regularMeetings" value="{{regularMeetings}}"></textarea>
									</div>
								</div>
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="form-group">
									  <label for="notableAnnualEvents">NOTABLE/ANNUAL EVENTS</label>
										<textarea id="edit-notable-events-field" class="form-control" name="notableAnnualEvents" value="{{notableAnnualEvents}}"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
									  <label for="notes">NOTES</label>
						  			<textarea id="edit-notes-field" class="form-control" value="{{notes}}"></textarea>
									</div>
								</div>
							</div>
						{{/with}}
		      </div>
		      <div class="modal-footer">
		      	{{#with editFormData}}
		        	<button type="button" class="btn btn-danger pull-left delete-contact-btn">DELETE</button>
			        <button type="button" id="edit-contact-cancel-btn" class="btn btn-default" data-dismiss="modal">CANCEL</button>
			        <button type="submit" class="btn btn-primary">EDIT</button>
		        {{/with}}
		      </div>
		    </div>
    	</form>
	  </div>
	</div>
</template>