<template name="Stats">
	<div class="page-header">
		<h1>STATS</h1>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			 		<h3 class="panel-title">No. of Contacts by Category</h3>
			  </div>
			  <div class="panel-body">
		    	<div>
		    		<canvas id="category-chart"></canvas>
	    		</div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">

		</div>
		<div class="col-sm-6 col-md-6 col-lg-6">
		</div>
	</div>
</template>